.ella{ 
    font-family: cursive;
    color: purple;
    text-align: center
}
.influencers{ 
    font-family: cursive;
    color: purple;
    text-align: center
}
.carousel-item{
    text-align: center;
    background-color: purple;
}
.card{
 margin-right: 10%
}
.famous{
    font-family: cursive;
    color: purple;
}
.col-lg-4{ 
    background-color:purple;
}
